<?xml version="1.0" encoding="UTF-8"?>
<configuration>


	<springProperty scope="context" name="serviceName"
		source="spring.application.name" />

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level
				[${serviceName},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]
				%logger{40} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/folders/apps/service-z/service-z.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>service-z-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- each file should be at most 10MB, keep 10 days worth of history, 
				but at most 100MB -->
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>10</maxHistory>
			<totalSizeCap>100MB</totalSizeCap>
		</rollingPolicy>
<!-- 		<encoder class="net.logstash.logback.encoder.LogstashEncoder" /> -->
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>Europe/Madrid</timeZone>
				</timestamp>
				<pattern>
					<pattern>
						{
						"severity": "%level",
						"serviceName": "${serviceName:-}",
						"TraceId": "%X{X-B3-TraceId:-}",
						"SpanId": "%X{X-B3-SpanId:-}",
						"ParentId": "%X{X-B3-ParentSpanId:-}",
						"exportable": "%X{X-Span-Export:-}",
						"pid": "${PID:-}",
						"thread": "%thread",
						"class": "%logger{40}",
						"message": "%message"
						}
					</pattern>
				</pattern>
				<mdc>
                    <excludeMdcKeyName>traceId</excludeMdcKeyName>
                    <excludeMdcKeyName>spanId</excludeMdcKeyName>
                    <excludeMdcKeyName>parentId</excludeMdcKeyName>
                    <excludeMdcKeyName>spanExportable</excludeMdcKeyName>
                    <excludeMdcKeyName>X-B3-TraceId</excludeMdcKeyName>
                    <excludeMdcKeyName>X-B3-SpanId</excludeMdcKeyName>
                    <excludeMdcKeyName>X-B3-ParentSpanId</excludeMdcKeyName>
                    <excludeMdcKeyName>X-Span-Export</excludeMdcKeyName>
                </mdc>
			</providers>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="ROLLING" />
	</root>

	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>